$blue-heavy: #1a365d; //  =blue.900 in chakra
$blue-medium: #2b6cb0; //  =blue.600 in chakra;
$blue-light: #3182ce; //  =blue.500 in chakra
$blue-light-transparent: #3182ce80; //  =blue.500 + 50% in chakra

$purple-medium: #6b46c1; // =pruple.600 in chakra
$teal-medium: #2C7A7B; // =teal.600 in chakre