.account {
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 35vh;
  }

  &__body {
    display: flex;
    position: relative;
    height: 65vh;
  }
  &__user-actions {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    box-shadow: 0 0 5px 2px #00000020;
    border-radius: 8px;
  }
  &__account-actions {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 2px #00000020;
    border-radius: 8px;
  }
}
